*{
    box-sizing: border-box;
}
.image{
    /* padding:10px 100px 10px 100px; */
    align-content: center;
}
.cont-1{
    border: 2px solid whitesmoke;
    background-color: white;
    margin: 20px auto;
    text-align: center;
width: 37%;
}
.cont-2{
background-color:#87CEEB;
margin: 20px auto;
padding: 20px;
text-align: center;
width: 100%;
}
.cont-3{
    color: black;
    text-align: center;
    margin: 20px auto;
    width: 100%;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:50px;
    margin-right: 50px;
    border-style: inset;
    border-width: 2px;
    background-color: dodgerblue;
}
