body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f8f9fa;
    /* background-image: url("../images/stun.jpg"); */
}


/* Navigation */

nav .navbar-brand {
    /* font-family: 'Advent Pro', sans-serif; */
    font-family: 'Marmelad', sans-serif;
}

nav .collapse {
    font-family: 'Philosopher', sans-serif;
    margin-top: 4px;
}


/* Dashboard */

#dashboard {
    background: #d3d3d3;
    --info: #87CEEB;
}

@media (max-width: 567px) {
    #dashboard .fa-cog {
        font-size: 20px;
    }
    #dashboard .display-4 {
        font-size: 20px;
    }
}

#page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Philosopher', sans-serif;
}

#content-wrap {
    padding-bottom: 3rem;
}

@media (max-width: 760x) {
    #content-wrap {
        padding-bottom: 9rem;
    }
}

footer {
    color: #908e8e;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3rem;
}

@media (max-width: 760px) {
    footer {
        height: 9rem;
    }
    footer .fab {
        padding-top: 12px;
    }
}

footer {
    font-family: 'Marvel', 'sans-serif';
    font-size: 17px;
}

footer .fab {
    color: #767676;
    transition: all 1s;
}

footer .fab:browser {
    color: #808080;
    transition: all 1s;
}

#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 17px;
}

#calendar {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 10px;
}

.avatar {
    border-radius: 100%;
    max-width: 100px;
}

blockquote {
    border-left: none
}

.quote-badge {
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #4ADFCC;
    margin-top: 25px;
    color: black;
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
}

.quotation-mark {
    margin-top: -10px;
    font-weight: bold;
    font-size: 100px;
    color: white;
    font-family: "Times New Roman", Georgia, Serif;
}

.quote-text {
    font-size: 19px;
    margin-top: -65px;
}
